<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory Management</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FIFO_Infineon.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="btn" style="margin-right: 10px;" id="sidebarToggle">
                    <i class="fas fa-bars"></i>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Infineon-Logo.jpg" alt="Infineon Logo" style="height: 40px; margin-right: 10px;">Inventory Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1"></ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="sidebar" id="sidebar">
        <a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a>
        <a asp-controller="Stock" asp-action="Index"><i class="fas fa-boxes"></i>Item</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2025 - Inventory Management </a>
        </div>
    </footer>
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
            document.body.classList.add("sidebar-open");
        }
        function closeNav(){
            document.getElementById("sidebar").style.width = "0";
            document.body.classList.remove("sidebar-open");
        }
        document.getElementById("sidebarToggle").onclick = openNav;
        document.addEventListener("click", function(event) {
            var sidebar = document.getElementById('sidebar');
            var sidebarToggle = document.getElementById('sidebarToggle');
            if (! sidebar.contains(event.target) && ! sidebarToggle.contains(event.target)) {
                closeNav();
            }
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
