@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please login or register your data here to view the inventory</p>
    <div class-"mt-4">
        <a asp-controller="Stock" asp-action="Index" class="btn btn-custom-primary btn-lg">Login</a>
        <a asp-controller="Stock" asp-action="Index" class="btn btn-custom-primary btn-lg">Register</a>
    </div>
</div>