@{ ViewData["Title"] = "Pilih Kategori"; }
<div class="text-center">
    <h1 class="display-4">Select Item Category</h1>
    <p>Please select the category below to view the inventory</p>
    <div class="mt-5 d-grid gap-3 col-6 mx-auto">
        <a asp-controller="Chemical" asp-action="ChemicalStockItem" class="btn btn-custom-primary btn-lg">Chemical</a>
        <a asp-controller="Disposal" asp-action="DisposalStockItem" class="btn btn-custom-primary btn-lg">Disposal</a>
        <a asp-controller="Ppe" asp-action="PpeStockItem" class="btn btn-custom-primary btn-lg">PPE</a>
        <a asp-controller="Tool" asp-action="ToolStockItem" class="btn btn-custom-primary btn-lg">Tool</a>
    </div>
</div>